
.image-icon{
  font-size: 100px;
  opacity: 30%;
  padding-left: 34%;
}


ion-avatar{
  width: 200px;
  height: 160px;
  --border-radius: 15px;
  margin: 0 auto;
}
.titulo1, .titulo2{
  text-align: center;
}