<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="8">
          <img alt="login" src="assets/img/logo_DuocUC.png"/>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-header>
      <ion-card-title>Inicio de Sesión</ion-card-title>    
    </ion-card-header>
  
    <form [formGroup]="formResetPassword" class="auth-form" (ngSubmit)="submit()" novalidate>
      <ion-card-content>
        <ion-item>
          <ion-label class="form-label" position="floating">Email</ion-label>
          <ion-input type="text" class="form-control" formControlName="email" requerid></ion-input>
        </ion-item>
        <div *ngIf="formResetPassword.get('email')?.hasError && formResetPassword.get('email')?.touched">
          <div *ngIf="formResetPassword.get('email')?.hasError('required')">
            Ingrese un email o usuario
          </div>
          <div *ngIf="formResetPassword.get('email')?.hasError('email')">
            Ingrese un correo valido
          </div>
        </div>
        <br>
        <p [routerLink]="['/login']" class="ion-text-end">Iniciar sesión</p>
        <ion-row>
          <ion-col>
            <ion-button expand="block" class="submit" type="submit">
              Recuperar
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>

